
@font-face {
	font-family: 'Rondo AncientTwo';
	src: url('../fonts/rondo_ancienttwo.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/rondo_ancienttwo.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/rondo_ancienttwo.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/rondo_ancienttwo.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/rondo_ancienttwo.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/rondo_ancienttwo.svg#rondo_ancienttwo') format('svg'); /* Chrome < 4, Legacy iOS */
}
 
body {
	background-color: rgb(217, 219, 219);
}
 
h1 {
	color: rgb(231, 25, 25);
	font-family: 'Rondo AncientTwo';
}
 
h2 {
	color: rgb(0, 0, 0);
}
 
a {
	color: rgb(0, 47, 255);
}
 
a:hover {
	color: rgb(236, 13, 13);
}
 
.list {
	list-style-type: square;
}
 
div.foto {
    glyph-orientation-horizontal: top;
    display: inline-block;
    text-align: center;
    width: 320px;
}
img {
    width: 300px;
    height: 450px;  
}
.caption {
    display: block;
}